In [26]:
import numpy as np
import pandas as pd
import matplotlib.pylab as plt
import seaborn as sb
import bokeh
df_banco = pd.read_csv("banco.csv")

Qual total de clientes?

In [27]:
total_clients = len(df_banco)
df_exited = df_banco[df_banco['Exited'] == 1]
exited_clients = len(df_exited)

Qual percentual representa os evasivos, em relação ao total de clientes?
Quantos clientes saíram do banco?

In [30]:
frequency_clients= df_banco['Exited'].value_counts()
percent_clients = df_banco['Exited'].value_counts(normalize=True)*100

df_percent_clients = pd.DataFrame({'Frequência': frequencia, 'Percentagem (%)': percentual, 'Total de Clientes': total_clients})
df_percent_clients.rename(index = {0: "Clientes", 1: "Evasivos"}, inplace = True)
df_percent_clients

          Frequência  Percentagem (%)  Total de Clientes
Clientes        7963            79.63              10000
Evasivos        2037            20.37              10000

Dos evasivos, qual percentual dos gêneros?

In [88]:
frequency_gender= df_exited['Gender'].value_counts()
percent_gender = df_exited['Gender'].value_counts(normalize=True)*100

df_percent_gender = pd.DataFrame({'Frequência': frequency_gender, 'Percentagem (%)': percent_gender})
df_percent_gender

        Frequência  Percentagem (%)
Female        1139        55.915562
Male           898        44.084438

Quantos, por localidade? E seu percentual?

In [41]:
gps_frenquency = df_exited['Geography'].value_counts()
percent_gps = df_exited['Geography'].value_counts()*100
df_percent_gps = pd.DataFrame({'Frequência': gps_frenquency, 'Percentagem (%)': percent_gps})
df_percent_gps

         Frequência  Percentagem (%)
Germany         814            81400
France          810            81000
Spain           413            41300

Qual a faixa salarial média dos evasivos?

Quantos possuiam contas ativas?

In [91]:
frequency_acounts= df_exited['IsActiveMember'].value_counts()
percent_acounts = df_exited['IsActiveMember'].value_counts(normalize=True)*100

df_percent_acounts = pd.DataFrame({'Frequência': frequency_acounts, 'Percentagem (%)': percent_acounts})
df_percent_acounts.rename(index = {0: 'Contas Ativas', 1: 'Contas Inativas'}, inplace = True)
df_percent_acounts

                 Frequência  Percentagem (%)
Contas Ativas          1302        63.917526
Contas Inativas         735        36.082474

Destes, quantos produtos bancários possuiam?

In [ ]:
#histograma da idade dos evasivos
df_exited.hist(['Age'])

Qaul a média de valor em conta bancária?

Quanto o banco deixou de ter em $?

In [94]:
balance_exited = df_exited['Balance'].sum()
balance_exited

185588094.63